<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  /H/200.27.68.94/H/192.168.10.204/S/3200
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="SCLEM" USER="iaraya" PASSWD="araya90" CLIENT="401" LANG="ES" ASHOST="/H/200.54.26.65/S/3299/H/192.168.141.8" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="100" IDLE_TIMEOUT="1000" />
          <add NAME="SCLEM2" USER="iaraya" PASSWD="araya90" CLIENT="120" LANG="ES" ASHOST="/H/200.54.27.10/S/3299/H/10.20.1.120" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="100" IDLE_TIMEOUT="1000"/>
          <add NAME="SCLEM3" USER="soporte" PASSWD="Wultu@2018" CLIENT="300" LANG="ES" ASHOST="/H/200.55.206.134/H/10.60.1.40" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="100" IDLE_TIMEOUT="1000"/>
          <!--
          X*X1
          
          <add NAME="SCLEM" USER="iaraya" PASSWD="araya90" CLIENT="120" LANG="ES" ASHOST="/H/200.54.27.10/S/3299/H/10.20.1.120" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000"/>
          QAS <add NAME="SCLEM" USER="iaraya" PASSWD="araya90" CLIENT="200" LANG="ES" ASHOST="/H/200.54.27.10/S/3299/H/192.168.10.62" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000"/>
          DEV <add NAME="SCLEM" USER="iaraya" PASSWD="araya90" CLIENT="120" LANG="ES" ASHOST="/H/200.54.27.10/S/3299/H/10.20.1.120" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000"/>
          
          <add NAME="DDC" USER="consultor_sd" PASSWD="hortifrut" CLIENT="200" LANG="ES" ASHOST="/H/200.54.27.10/S/3299/H/10.60.1.22" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000"/>
          <add NAME="DDC" USER="sap_adm" PASSWD="inicio01" CLIENT="400" LANG="ES" ASHOST="192.168.250.18" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000" />-->
          <!--PRO_router2-->
          <add NAME="DDCPRD" USER="sap_adm" PASSWD="inicio01" CLIENT="400" LANG="ES" ASHOST="/H/200.54.27.10/S/3299/H/10.60.1.21" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000" />
          <!--PRO_router-->
          <!--<add NAME="DDC" USER="sap_adm" PASSWD="inicio01" CLIENT="200" LANG="ES" ASHOST="/H/200.54.27.10/S/3299/H/10.60.1.22" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000"/>-->
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" />
  </system.web>
  <appSettings>
    <add key="SAP_HOST" value="/H/200.54.27.10/S/3299/H/192.168.10.62" />
    <add key="SAP_SYSTEMNUMBER" value="00" />
    <add key="SAP_CLIENT" value="200" />
    <add key="SAP_POOL_SIZE" value="50" />
    <add key="SAP_IDIOMA" value="ES" />
    <add key="JsonMateriales" value="http://200.54.43.156/BLUMAR/JSON_ZMOV_10012.aspx?MTART=ZPT&amp;WERKS=1020" />
    <add key="buscarExisteCorre" value="http://200.54.27.12/BlumarServices/json/buscarExisteCorre?lote="/>
    <add key="siExisteCo" value="http://200.54.27.12/BlumarServices/json/siExisteCo?lote="/>
    <add key="comprobLotFech" value="http://200.54.27.12/BlumarServices/json/comprobLotFech?lote="/>
    <add key="insertarNuevoCorrelativo" value="http://200.54.27.12/BlumarServices/json/insertarNuevoCorrelativo?value="/>
  </appSettings>
  <!-- <connectionStrings>
    <add name="SQL" connectionString="Data Source=WIN-LQCB06TFRJ5\SQLEXPRESS;Initial Catalog=ddc_odata;User Id=sa;Password=MB021Z/A" />
    <add name="ddcEntities" connectionString="metadata=res:///Model1.csdl|res:///Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WIN-LQCB06TFRJ5\SQLEXPRESS;Initial Catalog=ddc_odata;User Id=sa;Password=MB021Z/A;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ddcEntities2" connectionString="metadata=res:///datoBI.csdl|res:///datoBI.ssdl|res://*/datoBI.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WIN-LQCB06TFRJ5\SQLEXPRESS;Initial Catalog=ddc_odata;User Id=sa;Password=MB021Z/A;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="CS3" connectionString="Data Source=192.168.10.128\SQLEXPRESS;Initial Catalog=BAIKA;User Id=sa;Password=expled08*." providerName="System.Data.SqlClient" />
    <add name="SQL" connectionString="Data Source=10.20.1.71;Initial Catalog=ddc_odata;User Id=sa;Password=expled08*.;Connection Timeout=90" />
    <add name="ddcEntities" connectionString="metadata=res:///Model1.csdl|res:///Model1.ssdl|res:///Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.20.1.71;Initial Catalog=ddc_odata;User ID=sa;Password=expled08.;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ddcEntities2" connectionString="metadata=res:///datoBI.csdl|res:///datoBI.ssdl|res:///datoBI.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.20.1.71;Initial Catalog=ddc_odata;User ID=sa;Password=expled08.;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="9999999"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <!--
            Allow Web API to be called from a different domain.
            http://dlr2008.wordpress.com/2012/04/26/asp-net-web-api-cross-domain-ajax-and-server-techniques-jsonp-and-cors/
            -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    
    <bindings>
        <basicHttpBinding>
            <binding name="rfcNetSoap" />
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://200.54.43.156/BLUMAR/rfcNet.asmx" binding="basicHttpBinding"
            bindingConfiguration="rfcNetSoap" contract="BlumarWS.rfcNetSoap"
            name="rfcNetSoap" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>
<!--ProjectGuid: {77BEB4CB-F229-47FD-9502-2B46D1741727}-->